aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1741775197943/work
aiohttp @ file:///D:/bld/aiohttp_1753805015402/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1751626463503/work
altair @ file:///C:/b/abs_0b1avjyzoc/croot/altair_1743016738596/work
anyio==4.11.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
astroid==4.0.1
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
async-lru==2.0.5
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1733235340728/work
attrs @ file:///C:/b/abs_89hmquz5ga/croot/attrs_1734533130810/work
autopep8==2.3.2
babel==2.17.0
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.tarfile==1.2.0
beautifulsoup4 @ file:///C:/b/abs_3fjnplvbrh/croot/beautifulsoup4-split_1752599001105/work
bleach==6.2.0
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1731096409132/work
Bottleneck @ file:///C:/b/abs_816hr2khp1/croot/bottleneck_1731058648110/work
brotlicffi @ file:///C:/b/abs_f4lixvzmxt/croot/brotlicffi_1736183286104/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1740094013202/work
category_encoders==2.8.1
certifi @ file:///C:/miniconda3/conda-bld/certifi_1759786076112/work/certifi
cffi @ file:///C:/b/abs_29_b57if3f/croot/cffi_1736184144340/work
chardet==5.2.0
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
choreographer==1.2.0
click @ file:///D:/bld/click_1666770360789/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
comm==0.2.3
contourpy==1.3.2
cryptography @ file:///C:/b/abs_cbo_0az6za/croot/cryptography_1753084589654/work
cssselect==1.3.0
curl_cffi==0.13.0
cycler==0.12.1
datasist==1.5.3
debugpy @ file:///D:/bld/bld/rattler-build_debugpy_1752827140/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
defusedxml==0.7.1
dicttoxml==1.7.16
dill==0.4.0
dnspython @ file:///C:/b/abs_449_z2xz29/croot/dnspython_1703097012342/work
docopt==0.6.2
docutils==0.22.2
exceptiongroup @ file:///C:/b/abs_c5h1o1_b5b/croot/exceptiongroup_1706031441653/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1745502089858/work
fastjsonschema==2.21.2
fire==0.7.1
fonttools==4.60.0
fqdn==1.5.1
frozendict==2.4.6
frozenlist @ file:///D:/bld/frozenlist_1752167168686/work
future==1.0.0
geocoder==1.38.1
geographiclib==2.1
geoip2==5.1.0
geopy==2.4.1
gitdb @ file:///C:/b/abs_1bkmriimss/croot/gitdb_1753362133190/work
GitPython @ file:///C:/b/abs_2bkslnqz4i/croot/gitpython_1720455044865/work
google-api-core @ file:///home/conda/feedstock_root/build_artifacts/google-api-core-split_1749796131763/work
google-api-python-client @ file:///home/conda/feedstock_root/build_artifacts/google-api-python-client_1756886061293/work
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1749108257037/work
google-auth-httplib2 @ file:///home/conda/feedstock_root/build_artifacts/google-auth-httplib2_1733907410727/work
google-auth-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/google-auth-oauthlib_1745360236764/work
googleapis-common-protos @ file:///home/conda/feedstock_root/build_artifacts/googleapis-common-protos-feedstock_1744688777945/work
h11 @ file:///C:/b/abs_224rqu7kel/croot/h11_1748442031959/work
holidays==0.81
httpcore==1.0.9
httplib2 @ file:///home/conda/feedstock_root/build_artifacts/httplib2_1757606413076/work
httpx==0.28.1
id==1.5.0
idna @ file:///C:/b/abs_aad84bnnw5/croot/idna_1714398896795/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
iniconfig==2.3.0
investpy==1.0.8
ip2geotools==0.1.6
IP2Location==8.11.0
ipykernel @ file:///D:/bld/ipykernel_1655241698613/work
ipython==8.12.3
ipywidgets==8.1.8
isoduration==20.11.0
isort==7.0.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.3.0
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
joblib==1.5.2
json5==0.12.1
jsonpointer==3.0.0
jsonschema @ file:///C:/b/abs_4d8dstds3t/croot/jsonschema_1753206424024/work
jsonschema-specifications @ file:///C:/b/abs_0brvm6vryw/croot/jsonschema-specifications_1699032417323/work
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1733440914442/work
jupyter_core @ file:///D:/bld/jupyter_core_1710257272359/work
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.10
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.16
kaleido==1.1.0
keyring==25.6.0
kiwisolver==1.4.9
lark==1.3.1
lazy-object-proxy==1.12.0
lightgbm==4.6.0
logistro==2.0.0
lxml==5.3.0
markdown-it-py @ file:///C:/b/abs_a5bfngz6fu/croot/markdown-it-py_1684279915556/work
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
matplotlib==3.10.6
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1733416936468/work
maxminddb==2.8.2
mccabe==0.7.0
mdurl @ file:///C:/Windows/TEMP/abs_3197pzpjbi/croots/recipe/mdurl_1659716032440/work
mistune==3.1.4
mkl-service==2.4.0
mkl_fft @ file:///C:/b/abs_64riv3lfyn/croot/mkl_fft_1751310924052/work
mkl_random @ file:///C:/b/abs_47jvsmau4j/croot/mkl_random_1751310922820/work
more-itertools==10.8.0
multidict @ file:///D:/bld/multidict_1751310589600/work
multitasking==0.0.12
mysql-connector-python==9.4.0
narwhals @ file:///C:/miniconda3/conda-bld/narwhals_1760003512045/work
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
nh3==0.3.1
nltk==3.9.2
notebook==7.4.7
notebook_shim==0.2.4
numexpr @ file:///C:/b/abs_3buvfgcf6r/croot/numexpr_1755766488094/work
numpy==2.2.6
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1750415243897/work
opencv-python-headless==4.12.0.88
orjson==3.11.4
outcome @ file:///C:/b/abs_774iyc6vgh/croot/outcome_1741014061865/work
overrides==7.7.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas @ file:///C:/b/abs_58a1hlvjeo/croot/pandas_1756466410850/work/dist/pandas-2.3.2-cp310-cp310-win_amd64.whl#sha256=c5e64b82058916af3f8dd153264d32f927a5790ee19113e282b31ea45d923c7e
pandocfilters==1.5.1
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1733271261340/work
patsy==1.0.2
pdf2docx==0.5.8
pdf2image @ file:///C:/b/abs_89krx9_pna/croot/pdf2image_1732736442045/work
pdfkit==1.0.0
pdfminer.six==20250506
pdfplumber==0.11.7
peewee==3.18.2
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow @ file:///C:/b/abs_b06nvnir5m/croot/pillow_1752524543576/work
pip-review==1.3.0
pipreqs==0.5.0
pkginfo==1.12.1.2
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1746710438/work
plotly==6.3.1
pluggy==1.6.0
prometheus_client==0.23.1
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1744724089886/work
propcache @ file:///D:/bld/propcache_1744524966467/work
proto-plus @ file:///home/conda/feedstock_root/build_artifacts/proto-plus_1741676149446/work
protobuf @ file:///C:/b/abs_b5v84rwh56/croot/protobuf_1742419721750/work/bazel-bin/python/dist/protobuf-5.29.3-cp310-abi3-win_amd64.whl#sha256=dd7a6e96ccf2f19dc63e35889d44865cfe6df0449c799d650a73fb28d3073c4c
psutil @ file:///D:/bld/psutil_1740663160591/work
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
pyarrow @ file:///C:/miniconda3/conda-bld/pyarrow_1759833600583/work/python
pyasn1 @ file:///home/conda/feedstock_root/build_artifacts/pyasn1_1733217608156/work
pyasn1_modules @ file:///home/conda/feedstock_root/build_artifacts/pyasn1-modules_1743436035994/work
pycodestyle==2.14.0
pycountry==24.6.1
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1750615794071/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1732782409051/work
pylint==4.0.2
PyMuPDF==1.26.4
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1747560772891/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1757767060/work
PyPDF2 @ file:///C:/b/abs_f4tepei_o0/croot/pypdf2_1733841487756/work
pypdfium2==4.30.0
pyquery==2.0.1
PySocks @ file:///C:/ci_310/pysocks_1642089375450/work
pytesseract @ file:///home/conda/feedstock_root/build_artifacts/pytesseract_1736249287101/work
pytest==8.4.2
pytest-timeout==2.4.0
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-docx @ file:///home/conda/feedstock_root/build_artifacts/python-docx_1750157474613/work
python-json-logger==4.0.0
pytz @ file:///C:/b/abs_f8wdzeix0n/croot/pytz_1752135878094/work
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1733738580568/work
pywin32 @ file:///D:/bld/bld/rattler-build_pywin32_1752564081/work
pywin32-ctypes==0.2.3
pywinpty==3.0.2
PyYAML @ file:///C:/b/abs_14xkfs39bx/croot/pyyaml_1728657968772/work
pyzmq @ file:///D:/bld/pyzmq_1749898453777/work
ratelim==0.1.6
readme_renderer==44.0
referencing @ file:///C:/b/abs_09f4hj6adf/croot/referencing_1699012097448/work
regex==2025.11.3
reportlab==4.4.4
requests @ file:///C:/b/abs_0b3h9d_724/croot/requests_1750426345668/work
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1733772243268/work
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich @ file:///C:/b/abs_8b92fzmygg/croot/rich_1732638991774/work
rpds-py @ file:///C:/b/abs_0c6z5kcdb6/croot/rpds-py_1736545465023/work
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1744825426113/work
scapy @ file:///C:/b/abs_69slc5nxtm/croot/scapy_1747317016774/work
scikit-learn==1.7.2
scipy==1.15.3
seaborn==0.13.2
selenium @ file:///C:/b/abs_0fryk0y0zp/croot/selenium_1727169285181/work
Send2Trash==1.8.3
simplejson==3.20.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
smmap @ file:///C:/b/abs_85z04amxrn/croot/smmap_1752748960667/work
sniffio @ file:///C:/b/abs_3akdewudo_/croot/sniffio_1705431337396/work
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
soupsieve @ file:///C:/b/abs_bbsvy9t4pl/croot/soupsieve_1696347611357/work
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
statsmodels==0.14.5
streamlit @ file:///C:/miniconda3/conda-bld/streamlit-split_1758803711537/work/streamlit
ta==0.11.0
tabulate @ file:///C:/b/abs_21rf8iibnh/croot/tabulate_1701354830521/work
tenacity @ file:///C:/miniconda3/conda-bld/tenacity_1760375743144/work
termcolor==3.1.0
terminado==0.18.1
threadpoolctl==3.6.0
tinycss2==1.4.0
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli==2.3.0
tomlkit==0.13.3
tornado @ file:///D:/bld/tornado_1748003317080/work
tqdm==4.67.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
trio @ file:///C:/b/abs_d95kn2xi4n/croot/trio_1747182479395/work
trio-websocket @ file:///C:/b/abs_45nc1akikg/croot/trio-websocket_1741025743389/work
twine==6.2.0
typed-ast==1.5.5
typing==3.7.4.3
typing_extensions @ file:///C:/b/abs_0ffjxtihug/croot/typing_extensions_1734714875646/work
tzdata @ file:///croot/python-tzdata_1746123641790/work
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
Unidecode==1.4.0
uri-template==1.3.0
uritemplate @ file:///home/conda/feedstock_root/build_artifacts/uritemplate_1748892307961/work
urllib3 @ file:///C:/b/abs_393g1ayee_/croot/urllib3_1750775481226/work
user-agents==2.2.0
watchdog @ file:///C:/miniconda3/conda-bld/watchdog_1759775793959/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
webcolors==25.10.0
webencodings==0.5.1
websocket-client @ file:///C:/b/abs_5dmnxxoci9/croot/websocket-client_1715878351319/work
websockets==15.0.1
widgetsnbextension==4.0.15
win-inet-pton @ file:///C:/ci_310/win_inet_pton_1642658466512/work
wrapt==2.0.0
wsproto @ file:///C:/b/abs_31cskpy2sd/croot/wsproto_1725051559217/work
xgboost==3.0.5
yarg==0.1.9
yarl @ file:///D:/bld/yarl_1749554852283/work
yfinance==0.2.66
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work
